/* Skeleton Base Styles
************************************************** */
/** 
 * NOTE
 * html is set to 62.5% so that all the REM measurements throughout Skeleton
 * are based on 10px sizing. So basically 1.5rem = 15px :) 
 */
html {
  font-size: 62.5%; }
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  font-weight: 400;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1;
  color: #222;
  margin: 0;
  padding: 0; }
p {
  margin-top: 0; }


/* Links
************************************************** */
a {
  color: #444;
  text-decoration: none; }
a:hover {
  color: #999; }


/* Skeleton Utilities
************************************************** */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }
.u-center-text {
  text-align: center; }

/* Custom
************************************************** */
.main {
  text-align: center;
  padding: 40px 8px; }
.main-brand {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.2rem;
  letter-spacing: .2rem; }
.main-item {
  color: #444;
  text-decoration: none;
  display: inline-block;
  height: 38px;
  padding: 13px 30px;
  color: #555;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box; }

.app {
  margin: 0 auto;
  max-width: 900px;
}
.app-desc {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.parallax-window {
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 40px;
  min-height: 250px;
  color: #fff; }

/* Larger than phablet */
@media (min-width: 920px) {
  .app-desc {
    padding-left: 0;
    padding-right: 0;
  }
}
