body {
    font-family: 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
}

p {
    font-weight: 300;
    letter-spacing: 1px;
}

a {
    color: #008ac6;
    text-decoration: none;
}

a:hover {
    color: #5cc8ff;
}

.main {
  padding: 18px;
}

.name {
    color: #1c1a1a;
    font-size: 40px;
    margin: 0;
    letter-spacing: 2px;
}