@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    position: absolute;
}

.name {
    color: #1c1a1a;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.title {
    color: #393636;
    font-weight: 400;
}

a {
    color: #00a7ee;
    text-decoration: none;
}

a:hover {
    color: #5cc8ff;
}